.contact-us-container{
    margin-top: 150px;
    width: 50%;
    border-radius: 15px;
    margin-bottom: 150px;
    padding: 100px 0
}

.contact-form input, .textarea{
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 13px;
    border: 1px solid rgb(188, 188, 188);
    padding: 5px 10px;
}

.contact-form input {
    height: 35px;
}

.contact-form .textarea{
    height: 70px;
}

.submit-btn{
    border: none;
    background-color: #FF9670;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    padding: 7px 15px;
}

.submit-btn:hover{
    background-color: #FF9670A0;
}

 /* Responsive */

@media only screen and (max-width:576px) {
    .contact-us-container{
        width: 90%;
        padding: 30px 0
    }
    .contact-form input, .textarea{
        width: 85%;
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .contact-us-container{
        width: 75%;
        padding: 70px 0
    }
    .contact-form input, .textarea{
        width: 75%;
    }
}