.signout-btn{
    width: 100px;
    border: none;
    background-color: #FF9D79;
    color: white;
    font-weight: 500;
    border-radius: 20px;
    padding: 7px 15px;
}

.signout-btn:hover{
    background-color: #FF9D79AF;
}
