.input-fields{
    width: 50%;
    margin: auto;
}

.login-btn{
    width: 100px;
    border: none;
    background-color: #FF9670;
    color: white;
    font-weight: 500;
    border-radius: 20px;
    padding: 7px 15px;
}

.login-btn:hover{
    background-color: #FF9670A0;
}

.links{
    text-decoration: none;
    color: #FC6D38;
}

.links:hover{
    color: cornflowerblue;
}

/* Responsive */

@media only screen and (max-width:576px) {
    .input-fields{
        width: 100%;
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .input-fields{
        width: 75%;
    }
}